<section>
  <div class="text-center">
    <h1>Application</h1>
    <h3>Angular -<span> Front end</span></h3>
  </div>
</section>
<nav class="my-3 text-center">
  <a class="button mr-3" routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Login</a>
  <a class="button mr-3" routerLink="/register" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Register</a>
  <a class="button" routerLink="/todo" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Todo</a>
</nav>
<router-outlet></router-outlet>