<section>
  <div class="text-center">
    <h1>Application</h1>
    <h3>Angular -<span> Front end</span></h3>
  </div>
</section>
<nav class="my-3 text-center">
  <div *ngIf="isLoggedIn(); then loggedIn else loggedOut"></div>
  <ng-template #loggedIn>
    <a class="button mr-3" routerLink="/todo" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Todo</a>
    <a class="button mr-3" (click)="doLogout()">Logout</a>
  </ng-template>

  <ng-template #loggedOut>
    <a class="button mr-3" routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Login</a>
    <a class="button mr-3" routerLink="/register" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Register</a>
  </ng-template>

  {{ getUsername() }}
 
</nav>
<router-outlet></router-outlet>