services:
  backend:
    restart: always
    build:
      context: backend
      target: development
    volumes:
      - ./lac8r:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
    networks:
      - express-mongo
      #- angular-express
    expose: 
      - 3000
    ports:
      - 3002:3000

  mongo:
    restart: always
    image: mongo:6.0
    volumes:
      - ./data:/data/db
    networks:
      - express-mongo
    expose:
      - 27017
    ports:
      - 27017:27017
      
networks:
  #angular-express:
  express-mongo: