extends layout

block content
  .container.bg-white.mt-1.rounded-4
    .row-fluid.justify-content-center.align-items-center
      .col-md-8.offset-sm-2
        .row.align-items-center.pt-5
          h1.text-uppercase.fw-bold.pb-1.fs-1 Curriculum Vitae
          p.text-center.pb-3.pt-3.fw-bold.fs-6.border-bottom.border-5
          .col-md-5
            img.img-fluid.border.border-primary.border-5.rounded-circle(src=profile, alt="tidak ada foto", style="min-width: 60%;")
          .col-md-7.pt-3
            h1.text-uppercase.fw-bold.pb-1.fs-1 Billy Fernandes
            p.fw-bold.fs-5.text-secondary Saya berasal dari kota Palembang. Saya adalah lulusan dari SMA Xaverius 3 dan saat ini sedang mengejar gelar Sarjana-1 di Universitas Multi Data Palembang Dengan jurusan Sistem Informasi. kini sudah menempuh 7 semester
          p.text-center.pb-3.pt-3.fw-bold.fs-6.border-bottom.border-5
          p.text-center.pb-3.pt-3.fw-bold.fs-6.border-bottom.border-5 Alamat: Jalan Tembesu No.971 Email: Billyboyzzz34@gmail.com No:081977440322 
        .row.pt-2.border-bottom.border-5.pb-3
          .col
            h2.fw-bold Pendidikan
            ul
              li.fs-5.fw-bold SD Xaverius 2 
              p.fs-6.fw-normal 2007 - 2013
              li.fs-5.fw-bold SMP Xaverius 6
              p.fs-6.fw-normal 2013 - 2016
              li.fs-5.fw-bold SMA Xaverius 3
              p.fs-6.fw-normal 2016 - 2019
              li.fs-5.fw-bold Universitas Multi Data Palembang
              p.fs-6.fw-normal 2020 - Sekarang
        .row.pt-2.border-bottom.border-5.pb-3
          .col
            h2.fw-bold Pengalaman organisasi
            ul
              li.fs-5.fw-bold Himsi
                p.fs-6.fw-semibold 
                  | Anggota
              li.fs-5.fw-bold UKM PROGRAMMING
                p.fs-6.fw-semibold 
                  | Anggota
        .row.pt-2.pb-3.border-bottom.border-5
          .col
            h2.fw-bold Sertifikat
            ul
              li.fs-5.fw-bold Skillvull C# Dasar (Gold) & UI/UX Design Mastery (Gold)
                p.fs-6.fw-semibold 
                  | Skilvul #Tech4Impact: Game Development
              li.fs-5.fw-bold FIT COMPETITION
                p.fs-6.fw-semibold 
                  | FIT Competition Peserta Lomba Kategori Web Programming
        .row.pt-2.pb-3.border-bottom.border-5
          .col-md-6
            h2.fw-bold Bahasa Program
            ul.fs-5
              li HTML/CSS
              li Flutter
              li JavaScript
              li Bootstrap
              li Laravel
              li Python
              li Unity
              li Computer Vision
              li C#
              li Figma
          .col-md-6
            h2.fw-bold Bahasa
            ul.fs-5
              li Bahasa Indonesia - Native 
              li Bahasa Inggris
        .row.pt-4.pb-3
